<!DOCTYPE html>
<html>
<head>
    <title>Email Notification</title>
</head>
<body>
    <p>Your registration for the <strong>Nimbus</strong> event organized by the <strong>Cloud Computing Cell</strong> is confirmed! We're thrilled to have you on board for this exciting event.</p>
    <p>Your dedication to participating in Nimbus is commendable, and we're sure it'll be a rewarding experience. Stay tuned to our CCC Instagram handle for updates:</p><a href="https://www.instagram.com/ccc_akgec?igsh=MTVudzlwaHJwZ2c2OQ==">instagram.com/ccc_akgec</a>
    <p>For any queries or assistance, feel free to reach out. We're here to ensure your Nimbus experience is seamless.</p>
    <p>Don't forget to bring your <h4>laptop, charger and extension (if possible)</h4> to make the most of the event!
    </p>
    <p>We look forward to seeing you at Nimbus!</p>
    <p>Best regards,<br>Cloud Computing Cell</p>
</body>
</html>